<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300">
  {% include 'includes/ga' %}
</head>
<body>
  <div class="wrap">
    <div class="header">
      <a href='/'><img src='/assets/avatar.gif' class='logo-small'></a>
    </div>
    <div class="contents">
      <h2>{{title}}</h2>
      {{body}}
    </div>
    {% include 'includes/footer' %}
  </div>
</body>

</html>