{% if url == '/' %}
<footer class='main'> <span class='site-title'>Bit-Shadow Machine</span>
{% else %}
<footer> <span class='site-title'><a href='/'>Bit-Shadow Machine</a></span>
{% endif %}
<span class='separator'>|</span> <a href='/about'>about</a> <span class='separator'>|</span> <a href='/code'>code</a> <span class='separator'>|</span> <a href='https://github.com/foldi/Bit-Shadow-Machine'>github</a> <span class='separator'>|</span> <a href='https://twitter.com/bshadowmachine'>@bshadowmachine</a></footer>